<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Piuga\News\Api\NewsRepositoryInterface" type="Piuga\News\Model\NewsRepository"/>
    <preference for="Piuga\News\Api\Data\NewsInterface" type="Piuga\News\Model\News"/>
    <preference for="Piuga\News\Api\Data\NewsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Piuga\News\Api\CategoryRepositoryInterface" type="Piuga\News\Model\CategoryRepository"/>
    <preference for="Piuga\News\Api\Data\CategoryInterface" type="Piuga\News\Model\Category"/>
    <preference for="Piuga\News\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="getNewsItem" xsi:type="object">Piuga\News\Console\Command\GetNewsItem</item>
                <item name="addNewsItem" xsi:type="object">Piuga\News\Console\Command\AddNewsItem</item>
                <item name="newsItemStatus" xsi:type="object">Piuga\News\Console\Command\NewsItemStatus</item>
                <item name="getNewsCategory" xsi:type="object">Piuga\News\Console\Command\GetNewsCategory</item>
                <item name="addNewsCategory" xsi:type="object">Piuga\News\Console\Command\AddNewsCategory</item>
                <item name="newsCategoryStatus" xsi:type="object">Piuga\News\Console\Command\NewsCategoryStatus</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="piuga_news_listing_data_source" xsi:type="string">Piuga\News\Model\ResourceModel\News\Grid\Collection</item>
                <item name="piuga_news_category_listing_data_source" xsi:type="string">Piuga\News\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Piuga\News\Model\ResourceModel\News\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">piuga_news_items</argument>
            <argument name="eventPrefix" xsi:type="string">piuga_news_items_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">news_collection</argument>
            <argument name="resourceModel" xsi:type="string">Piuga\News\Model\ResourceModel\News</argument>
        </arguments>
    </type>
    <type name="Piuga\News\Model\ResourceModel\Category\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">piuga_news_categories</argument>
            <argument name="eventPrefix" xsi:type="string">piuga_news_category_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">category_collection</argument>
            <argument name="resourceModel" xsi:type="string">Piuga\News\Model\ResourceModel\Category</argument>
        </arguments>
    </type>

    <virtualType name="Piuga\News\NewsImageUpload" type="Piuga\News\Model\FileUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">news/tmp/image</argument>
            <argument name="basePath" xsi:type="string">news/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Piuga\News\NewsFileUpload" type="Piuga\News\Model\FileUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">news/tmp/file</argument>
            <argument name="basePath" xsi:type="string">news/file</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="doc" xsi:type="string">doc</item>
                <item name="docx" xsi:type="string">docx</item>
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="txt" xsi:type="string">txt</item>
                <item name="xml" xsi:type="string">xml</item>
                <item name="xls" xsi:type="string">xls</item>
                <item name="odt" xsi:type="string">odt</item>
                <item name="rar" xsi:type="string">rar</item>
                <item name="zip" xsi:type="string">zip</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="doc" xsi:type="string">application/msword</item>
                <item name="docx" xsi:type="string">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
                <item name="pdf" xsi:type="string">application/pdf</item>
                <item name="txt" xsi:type="string">text/plain</item>
                <item name="xml" xsi:type="string">text/xml</item>
                <item name="xls" xsi:type="string">application/vnd.ms-excel</item>
                <item name="odt" xsi:type="string">application/vnd.oasis.opendocument.text</item>
                <item name="rar" xsi:type="string">application/x-rar-compressed</item>
                <item name="zip" xsi:type="string">application/zip</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Piuga\News\Controller\Adminhtml\News\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Piuga\News\NewsImageUpload</argument>
        </arguments>
    </type>
    <type name="Piuga\News\Controller\Adminhtml\News\File\Upload">
        <arguments>
            <argument name="fileUploader" xsi:type="object">Piuga\News\NewsFileUpload</argument>
        </arguments>
    </type>
    <type name="Piuga\News\Model\FileSave">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Piuga\News\NewsImageUpload</argument>
            <argument name="fileUploader" xsi:type="object">Piuga\News\NewsFileUpload</argument>
        </arguments>
    </type>
</config>
