<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Piuga\News\Api\NewsRepositoryInterface" type="Piuga\News\Model\NewsRepository"/>
    <preference for="Piuga\News\Api\Data\NewsInterface" type="Piuga\News\Model\News"/>
    <preference for="Piuga\News\Api\Data\NewsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="getNewsItem" xsi:type="object">Piuga\News\Console\Command\GetNewsItem</item>
                <item name="addNewsItem" xsi:type="object">Piuga\News\Console\Command\AddNewsItem</item>
                <item name="newsItemStatus" xsi:type="object">Piuga\News\Console\Command\NewsItemStatus</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="piuga_news_listing_data_source" xsi:type="string">Piuga\News\Model\ResourceModel\News\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Piuga\News\Model\ResourceModel\News\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">piuga_news_items</argument>
            <argument name="eventPrefix" xsi:type="string">piuga_news_items_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">news_collection</argument>
            <argument name="resourceModel" xsi:type="string">Piuga\News\Model\ResourceModel\News</argument>
        </arguments>
    </type>
</config>
