<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Piuga_News::news"
            title="News"
            translate="title"
            module="Piuga_News"
            sortOrder="30"
            parent="Magento_Backend::content"
            resource="Piuga_News::news"
        />
        <add
            id="Piuga_News::news_grid"
            title="News Items"
            translate="title"
            module="Piuga_News"
            sortOrder="10"
            parent="Piuga_News::news"
            action="piuga_news/news"
            resource="Piuga_News::news"
        />
        <add
            id="Piuga_News::news_add"
            title="Add News"
            module="Piuga_News"
            sortOrder="20"
            parent="Piuga_News::news"
            action="piuga_news/news/create"
            resource="Piuga_News::save_item"
        />
        <add
            id="Piuga_News::settings"
            title="Settings"
            module="Piuga_News"
            sortOrder="30"
            parent="Piuga_News::news"
            action="adminhtml/system_config/edit/section/piuga_news"
            resource="Piuga_News::system_config"
        />
    </menu>
</config>
